@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Felipa");

@keyframes fadein {
    from {filter: opacity(0)}
    to   {filter: opacity(1)}
}

:root {
	--parchment: #E2CA8E url("parchment-paper.jpg");
	--radius: .5em;
}

body {
	margin: 0;
	font-family: "Crimson Text", serif;
	font-size: 1.2vw;
	color: #C32814;
	background: #E7D6C5 url("img/bouchardon-self-portrait.jpg") repeat fixed center 25%;
	background-size: cover;
	animation: 1s fadein;
}

table {
	margin: 0 auto;
}

th, td {
	padding-left: .3em;
}

th, td, ul {
	text-align: left;
}

h1, h2, h3, h4, ul, p {
	margin: 0;
}

h1 {
	letter-spacing: .025em;
}

h4 {
	font-size: 1.5em;
	letter-spacing: .15em;
}

.section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card {
	position: relative;
	overflow: hidden;
	width: 24em;
	height: 34em;
	padding: 1em;
	background: var(--parchment);
	background-size: cover;
	border: 2px solid #fff;
	border-radius: var(--radius);
	box-shadow: 0 0 50px #000;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.portrait {
	/* Compensate for the card's padding */
	margin-left: -1em;
	margin-top: -1em;
	width: calc(100% + 2em);
	height: calc(100% + 2em);
	
	/* Crop to fit the whole card */
	object-fit: cover;
}

.name-banner {
	position: absolute;
	right: 0; /* Right edge of the banner on the right edge of the card */
	bottom: 1em; /* Bottom of the banner 2em above the bottom of the card */
	width: 100%;
	height: 2.1em; /* Padding-top combines with height to make 3.5em */
	padding-top: 1.4em; /* This magic ratio puts the text in the center */
	background: url("img/text-ribbon.png") bottom no-repeat;
	background-size: calc(100% - 2em) 100%;
	font-family: "Felipa", cursive;
	font-weight: bold;
	font-size: 1.75em;
	text-align: center;
	color: #fff;
}

.decoration {
	position: absolute;
	background: url("img/fancy-border.png");
	background-size: 100% 100%;

	/* Compensate for the card's padding */
	margin-left: -1em;
	margin-top: -1em;
	width: calc(100% + 2em);
	height: calc(100% + 2em);
}

.quote {
	font-style: italic;
}

.quote:before, .quote:after {
	content: '"';
}

header {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 3em;
}

header > div {
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;
	padding: 0 1em;

	box-sizing: border-box; /* Stupid sizing garbage that shouldn't have to exist */
	background: var(--parchment);
	background-size: cover;

	border-bottom: 2px solid #fff;
	box-shadow: 0 0 50px #000;
}

select {
	margin: 0 0 0 auto;
	height: 2.25em;
	border-radius: var(--radius);
	padding: 0 .5em;
	cursor: pointer;
	margin-right: 1px;

	/* Remove some default styling */
	border: none;
	outline: none;
	background: none;
	color: unset;
	font-family: unset;
	font-size: unset;
}

select:hover, select:focus {
	background: #ffffff66;
	transition: .1s background ease;
}

select:focus {
	border: 1px solid #C3281466;
	margin-right: 0;
}

option {
	color: #000;
	cursor: pointer;
}

#fullpage {
	/* The cards go over the header without this */
	z-index: -1;
}
